@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
body {
  margin: 0;

  background-image: linear-gradient(
    to right,
    #6573ff,
    #6f72f7,
    #7872ef,
    #a86ec8
  );
  font-family: "Press Start 2P", cursive;
}
